.logo{
  color: black ;
  word-spacing: 20px;
  font-size: 40px;
  margin-left: 30px;
}
circle {
  position: relative;
  background-color: #09f;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border-radius: 200px;
}
.mar-r-10px{
  margin-right: 10px
}
.mar-r-30px{
  margin-right: 30px
}

.boldWeight{
  font-weight: bold
}

.headr {
  font-size: 40px;
  font-weight: 10px;
}

.wordCount {
  background-color: yellow !important;
  font-size: 12px;
  float:right;
  margin-top: 10px
}
